@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Welcome, @context.User.Identity.Name.</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Blazor Battles!</h1>
        <p>This game is supercool!</p>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>
